@page
@model VKR.Pages.MenuModel

<h1>Меню</h1>

@foreach (var category in Model.Categories)
{
    <h2>@category.Categoryname</h2>
    <ul>
        @foreach (var dish in category.Dishes)
        {
            <li>
                <img src="@dish.Imageurl" alt="@dish.Dishname" width="100" />
                <h3>@dish.Dishname</h3>
                <p>@dish.Description</p>
                <p>Цена: @dish.Price руб.</p>
                <p>Калорийность: @dish.Calories ккал</p>
            </li>
        }
    </ul>
}
